@CHARSET "UTF-8";

body {
	background-color: #e0f7fa;
}

.site {
	text-align: center;
	font-size: xx-large;
}

h1,caption {
	text-align: center;
    background: linear-gradient(#00BCD4, #80DEEA);
    border-style: solid;
    border-color: #00BCD4;
    border-radius: 0.3em;
}

th {
    text-align: left;
}

td {
    text-align: right;
}
td.unit {
    text-align: left;
}

.center {
    margin: auto;
    width: 50%;
}

.data {
    width: 15em;
}

.no-wrap {
    white-space: nowrap;
}

.page-updated {
	text-align: center;
}

.menu {
	float: left;
}

.menuItem {
	width: 100%;
    text-align: center;
    background-color: #80DEEA;
    border-style: solid;
    border-color: #00BCD4;
    border-width: thin;
}

.news {
	margin-bottom: 0.5em;
}

.news_header {
	text-decoration: none;
    color: black;
}

.news_link {
	text-decoration: none;
}

.news_title {
	color: black;
}

.news_time {
	color: gray;
}

table.messages {
	margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
}
th.messages {
	text-align: center;
}

.chart {
/*     float: right; */
    width: 400px;
    height: 200px;
    position: relative;
}

div {
	border-style: none;
	margin: inherit;
}

.container {
	display:flex;
	margin: 0.1em;
}
