<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

  <footer class="footer" th:fragment="footer">
    <div class="footer_div" th:if="${version!=null}" th:inline="text">
      <div class="footer_section">
        <span class="footer_span">Versio: [[${version}]]</span>
        <span class="footer_span">Lähdekoodi: <a href="https://github.com/mika-koivusaari/weather">https://github.com/mika-koivusaari/weather</a></span>
      </div>
      <address class="footer_section">
        <span class="footer_span">&copy; Mika Koivusaari</span>
        <a class="footer_span" href="mailto:mika.koivusaari@gmail.com?subject=Sääsivustosta">mika.koivusaari@gmail.com</a>
      </address>
    </div>
  </footer>
  
</body>
</html>