<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<div th:fragment="graphTemp">
   <!--Div that will hold the temp/rain chart-->
   <div id="chart_temp" class="chart"></div>
    <script type="text/javascript">
/* <![CDATA[ */
      var temp_rain_data;
      var temp_rain_chart;
      var temp_rain_options;
      var temp_rain_obj='alku';
      console.log(temp_rain_obj);
      
      // Load the Visualization API and the corechart package.
      //google.charts.load('current', {'packages':['corechart','line']});
      google.charts.load('current', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawTempRainChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawTempRainChart() {

          var jsonData = $.ajax({
          url: "/chartdata?id=1",
          dataType: "json",
          async: false
          }).responseText;
     
        // Create the data table.
        temp_rain_data = new google.visualization.DataTable(jsonData);

        var formatter = new google.visualization.DateFormat({pattern: 'HH:mm'});
        formatter.format(temp_rain_data, 0);

      console.log('pulautetaan json');
      console.log(temp_rain_obj);
        temp_rain_obj = JSON.parse(jsonData);
      console.log(temp_rain_obj);
      temp_rain_options = {
        hAxis: {
            format: 'HH',
            gridlines: {count: 8}
          },
        vAxes: {
          0: {title: 'C',
              viewWindow: {min: temp_rain_obj.cols[1].scaleMin,
                           max: temp_rain_obj.cols[1].scaleMax},
             },
          1: {title: 'mm',
              viewWindow: {min: 0,
                           max: 14}
             }
        },
        backgroundColor: '#f1f8e9',
        seriesType: 'line',
        series: {0: {type: 'line',
                     targetAxisIndex: 0,
                     color: '#ff0000'}
                ,1: {type: 'bars',
                     targetAxisIndex: 1,
                     color: '#0000ff'}}
      };
      console.log(temp_rain_options);
      console.log(JSON.stringify(temp_rain_options));

        // Instantiate and draw our chart, passing in some options.
        //var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        temp_rain_chart = new google.visualization.ComboChart(document.getElementById('chart_temp'));
        temp_rain_chart.draw(temp_rain_data, temp_rain_options);
      }

      addFunction(drawTempRainChart,10);
/* ]]> */
    </script>
</div>

<div th:fragment="graphWind">
   <!--Div that will hold the wind chart-->
   <div id="chart_wind" class="chart"></div>

    <script type="text/javascript">
/* <![CDATA[ */
      var wind_obj;
      var options;
      // Load the Visualization API and the corechart package.
      //google.charts.load('current', {'packages':['corechart','line']});
      google.charts.load('current', {'packages':['corechart']});
      
      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawWindChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawWindChart() {

          var jsonData = $.ajax({
          url: "/chartdata?id=2",
          dataType: "json",
          async: false
          }).responseText;
     
        // Create the data table.
        var data = new google.visualization.DataTable(jsonData);

        wind_obj = JSON.parse(jsonData);
        var formatter = new google.visualization.DateFormat({pattern: 'HH:mm'});
        formatter.format(data, 0);

        var obj = JSON.parse(jsonData);
      options = {
        hAxis: {
            format: 'HH',
            gridlines: {count: 8}
          },
        vAxes: {
          0: {title: 'm/s',
              viewWindow: {min: wind_obj.cols[1].scaleMin,
                           max: wind_obj.cols[1].scaleMax},
              ticks: wind_obj.cols[1].ticks
          }
        },
        backgroundColor: '#f1f8e9',
        seriesType: 'line',
        series: {0: {type: 'line',
                     targetAxisIndex: 0,
                     color: '#cab40d'}
                 },
        legend: 'top'
      };
      console.log(options);
      console.log(JSON.stringify(options));

        // Instantiate and draw our chart, passing in some options.
        //var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        var chart = new google.visualization.ComboChart(document.getElementById('chart_wind'));
        
      function placeMarker(dataTable) {
        var cli = this.getChartLayoutInterface();
        var chartArea = cli.getChartAreaBoundingBox();

        var icons = [];
        var rowCount = dataTable.getNumberOfRows();

        //Calculate the width of the icons.
        var iconWidth = chartArea.width / (rowCount + 1);

        for (i = 0; i < rowCount; i++) {
          icon = {};
          //Get the wind value from the DataTable
          icon.value = dataTable.getValue(i, 2);
          if (icon.value>0) {
            //Get the date
            icon.date = dataTable.getValue(i, 0);

            //CSS style for the icon.
            icon.style = "position: absolute;"+
                         "left: "+(cli.getXLocation(icon.date)) + 'px'+";"+
                         "top: "+(chartArea.top+110) + 'px'+";"+
                         "width: "+iconWidth + 'px'+";";
            //Add the icon to the array on scope.
            icons.push(icon);
            var elem = document.createElement("img");
            elem.setAttribute("src", "/wind_dir/arrow_"+Math.floor(icon.value)+".png");
            elem.setAttribute("height", iconWidth);
            elem.setAttribute("width", iconWidth);
            elem.setAttribute("alt", icon.value);
            elem.setAttribute("style", icon.style);
            document.getElementById('chart_wind').appendChild(elem);
          }
        }
        
        console.log(icons);
      };
      google.visualization.events.addListener(chart, 'ready',placeMarker.bind(chart, data));

      var view = new google.visualization.DataView(data);
      view.setColumns([0,1]); //here you set the columns you want to display

//        chart.draw(data, options);
        chart.draw(view, options);
      }

      addFunction(drawWindChart,60);

/* ]]> */
    </script>

</div>
</body>
</html>