<!DOCTYPE html>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8"/>
<title>Messages</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(messages)}" th:fragment="currentMessages">
  <table class="messages">
    <tr class="message_header">
      <th class="messages">Tila</th>
      <th class="messages">Alkoi</th>
      <th class="messages">Loppui</th>
    </tr>
    <tr class="message_row" th:each="m : ${messages}">
      <td th:text="${m.message}">Message</td>
      <td class="message_time" th:text="*{m.from != null} ? ${#temporals.format(m.from, 'dd.MM.yyyy HH:mm')} : ''">From</td>
      <td class="message_time" th:text="*{m.to != null} ? ${#temporals.format(m.to, 'dd.MM.yyyy HH:mm')} : ''">To</td>
    </tr>
  </table>
</div>

</body>
</html>