<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

<div th:if="${not #lists.isEmpty(posts)}" th:fragment="lastNews">
    <a class="news_header" href="http://weather.khyron.dy.fi/wp/blog/"><h3 class="news_header">Uutiset:</h3></a>
    <div class="news" th:each="p : ${posts}">
      <a class="news_link" th:href="${p.link}">
      <span class="news_title" th:text="${p.title}">title</span><br/>
      <span class="news_time" th:text="*{p.modified != null} ? ${#temporals.format(p.modified, 'dd.MM.yyyy HH:mm')} : ''">Modified</span>
      </a>
    </div>
</div>
</body>
</html>