<!DOCTYPE HTML>
<html 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.js"
        th:src="@{/webjars/jQuery/jquery.min.js}" type="text/javascript"></script>



    <title>Sää, Rauma, Lappi</title>
    <link rel="stylesheet" href="/main.css"/>
</head>
<body>

    <script th:if="${analId!=null}" th:inline="javascript" th:include="fragments/analytics :: googleAnalytics">
    </script>

    <div class="site center" th:if="${site!=null}" th:inline="text">
        [[${site}]]
    </div>

    <h1>
        Sääasema Rauma, Lappi, Kivikylä
    </h1>

  <div th:replace="fragments/messages :: currentMessages">
    Viestit
  </div>

    
  <div class="container">

    <div class="menu" >
    <div th:replace="fragments/menu :: leftMenu">
      Menu
    </div>

    <div th:replace="fragments/news :: lastNews">
      Uutiset:
    </div>
    </div>

    <div class="center">
  <div class="page-updated">
    <span>Sivu päivitetty:</span>
    <span class="no-wrap" th:text="*{weatherdata.time != null} ? ${#temporals.format(weatherdata.time, 'dd.MM.yyyy HH:mm')} : ''">1.1.2017 12:00</span>
  </div>
      <div class="container">
        <div>
          <div th:replace="fragments/basicWeatherData :: basicTemperature">
            Temperature data
          </div>
          <div th:replace="fragments/basicWeatherData :: basicRain">
            Rain data
          </div>
        </div>
        <div th:replace="fragments/graph :: graphTemp">
        </div>
      </div>
    
      <div class="container">
        <div th:replace="fragments/basicWeatherData :: basicWind">
          Wind data
        </div>
        <div th:replace="fragments/graph :: graphWind">
        </div>
      </div>
    </div>

  </div>


</body>
</html>
